@import "src/scss/colors.scss";

.services {
  &__title {
    margin-bottom: 84px;
  }

  &__items {
    display: grid;
    //grid-template-columns: repeat(3, 1fr);
    grid-template-columns: repeat(auto-fill, minmax(386px, 1fr));
    grid-template-rows: auto;
    grid-column-gap: 20px;
    grid-row-gap: 84px;
    margin-bottom: 45px;

    @media screen and (max-width: 576px) {
      margin-bottom: 30px;
    }
  }

  &__item {
    display: flex;
  }

  &-item {
    display: flex;
    flex-direction: column;
    background-color: $white;
    box-shadow: 0px 0px 2px rgba(7, 121, 255, 0.22);
    border-radius: 50px;
    position: relative;
    padding-top: 73px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 66px;
    box-sizing: border-box;
    min-height: 343px;

    &__icon {
      display: flex;
      position: absolute;
      top: -34px;
      left: 25px;
      width: 90px;
      height: 90px;

      @media screen and (max-width: 992px) {
        width: 80px;
        height: 80px;
      }

      & img,
      & svg {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    &__title {
      font-family: PlayfairDisplay, sans-serif;
      font-weight: 900;
      font-size: 28px;
      line-height: 37px;
      color: #242F40;
      margin-bottom: 15px;

      @media screen and (max-width: 1560px) {
        font-size: 26px;
      }

      @media screen and (max-width: 992px) {
        font-size: 24px;
      }
    }

    &__text {
      font-size: 20px;
      line-height: 23px;
      color: #242F40;

      @media screen and (max-width: 1560px) {
        font-size: 18px;
      }

      @media screen and (max-width: 992px) {
        font-size: 16px;
      }
    }
  }

  &__button{
    margin: 0 auto;
  }
}